<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145338009082-j6gkgra099vojjrhrevllg1dp8a06sus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145338009082-j6gkgra099vojjrhrevllg1dp8a06sus</string>
	<key>API_KEY</key>
	<string>AIzaSyBg2odII10IJ0CaOmKBS5PzlrVs78kJ8Jo</string>
	<key>GCM_SENDER_ID</key>
	<string>145338009082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mikkyboy.mycoolpizzaapp</string>
	<key>PROJECT_ID</key>
	<string>pizza-cd642</string>
	<key>STORAGE_BUCKET</key>
	<string>pizza-cd642.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145338009082:ios:387c14a9e3c7872d081043</string>
</dict>
</plist>